<html>
    <head></head>
    <body>
      
        <form>
            <table>
                <tr>
                    <td>Name</td>
                    <td> <input type="text" name="name" placeholder="Name"></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>  <input type="number" name="age" placeholder="Age"></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td> <input type="text" name="city" placeholder="City"></td>
                </tr>
                <tr>
                    <td> <input type="submit" value="Create"></td>
                </tr>
            </table>
        </form>
    </body>
</html>